{% extends 'layout.html' %}

{% load static %}

{% block content %}
<!-- # intro
        ================================================== -->
<section id="intro" class="s-intro target-section">
  <div class="row s-intro__content width-sixteen-col">
    <div class="column lg-12 s-intro__content-inner grid-block grid-16">
      <div class="s-intro__content-text">
        <div class="s-intro__content-pretitle text-pretitle">Hello</div>
        <h1 class="s-intro__content-title">
          I'm Shoaib Santo <br />
          a Data Driven <br />
          SEO Specialist in Bangladesh.
        </h1>

        <div class="s-intro__content-btns">
          <a class="smoothscroll btn" href="#about">More About Me</a>
          <a class="smoothscroll btn btn--stroke" href="#footer"
            >Get In Touch</a
          >
        </div>
        <!-- s-intro__content-btns -->
      </div>
      <!-- s-intro__content-text -->
    </div>
    <!-- s-intro__content-inner -->
  </div>
  <!-- s-intro__content -->

  <div class="s-intro__content-media">
    <img
      src="{% static 'images/shoaib-santo.png' %}"
      srcset="{% static 'images/shoaib-santo.png' %} 1x, {% static 'images/shoaib-santo.png' %} 2x"
      alt="Shoaib Santo"
    />
  </div>
  <!-- s-intro__content-media -->

  <div class="s-intro__btn-download">
    <a
      class="btn btn--stroke"
      href="https://docs.google.com/document/d/1PTyyV6VQEro-WkxxM8RT87jh5Triy99VheMjvAKUY_w/edit?usp=sharing"
      >Get My CV</a
    >
  </div>
  <!-- end s-intro__btn-download -->

  <div class="s-intro__scroll-down">
    <a href="#about" class="smoothscroll">
      <div class="scroll-icon">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          style="fill: rgba(0, 0, 0, 1); transform: ; msfilter: "
        >
          <path
            d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"
          ></path>
        </svg>
      </div>
      <span class="scroll-text u-screen-reader-text">Scroll Down</span>
    </a>
  </div>
  <!-- s-intro__scroll-down -->
</section>
<!-- end s-intro -->

<!-- # about
        ================================================== -->
<section id="about" class="s-about target-section">
  <div class="row s-about__content">
    <div class="column xl-12">
      <div class="section-header" data-num="01">
        <h2 class="text-display-title">About Me.</h2>
      </div>
      <!-- end section-header -->

      <div>
        <p>
          <strong>Shoaib Santo is the Best SEO Expert in Bangladesh.</strong>
        </p>

        <p>
          If you're looking for a professional and data-driven SEO Expert with
          proven experience in digital marketing, then you should note my name
          down. I have 5 years of experience in this sector and have worked with
          many local and international clients.
        </p>

        <p>
          Not only that, I have also worked with
          <a
            href="https://khanit.com.bd/"
            target="_blank"
            rel="nofollow noopener noreferrer"
            >Khan IT</a
          >,
          <a
            href="https://viserx.com/"
            target="_blank"
            rel="nofollow noopener noreferrer"
            >VISER X</a
          >, and
          <a
            href="https://dotbrainlabs.com/"
            target="_blank"
            rel="nofollow noopener noreferrer"
            >Dotbrain Labs</a
          >. I am also an SEO & Digital Marketing Trainer at
          <a
            href="http://ledp.ictd.gov.bd/"
            target="_blank"
            rel="nofollow noopener noreferrer"
            >LEDP</a
          >,
          <a
            href="https://learningbangladesh.com/"
            target="_blank"
            rel="nofollow noopener noreferrer"
            >Learning Bangladesh</a
          >,
          <a
            href="https://ostad.app/"
            target="_blank"
            rel="nofollow noopener noreferrer"
            >Ostad</a
          >,
          <a
            href="https://eshikhon.com.bd/shoaib-santo/"
            target="_blank"
            rel="nofollow noopener noreferrer"
            >eShikhon</a
          >, and
          <a
            href="https://seoschoolbd.com/"
            target="_blank"
            rel="nofollow noopener noreferrer"
            >SEO School BD</a
          >.
        </p>

        <p>
          I have experience working for
          <a
            href="https://hatil.com/"
            target="_blank"
            rel="nofollow noopener noreferrer"
            >HATIL Furniture</a
          >,
          <a
            href="https://waltonbd.com/"
            target="_blank"
            rel="nofollow noopener noreferrer"
            >WALTON</a
          >,
          <a
            href="https://poshgarments.com/"
            target="_blank"
            rel="nofollow noopener noreferrer"
            >Posh Garments</a
          >,
          <a
            href="https://perfumecenter.com.bd/"
            target="_blank"
            rel="nofollow noopener noreferrer"
            >Perfume Center</a
          >, and
          <a
            href="https://petzonebd.com/"
            target="_blank"
            rel="nofollow noopener noreferrer"
            >Pet Zone BD</a
          >.
        </p>

        <p>
          I always believe that
          <strong>Quality is better than Quantity</strong>.
        </p>

        <p>
          So, if you agree with this quote, I think we should sit down at a
          coffee shop and create something amazing!
        </p>
      </div>

      <div class="grid-list-items s-about__blocks">
        <div class="grid-list-items__item s-about__block">
          <h4 class="s-about__block-title">Experience</h4>
          <ul class="s-about__list">
            <li>
              Khan IT
              <span>Project Manager</span>
            </li>
            <li>
              Wunderman Thompson
              <span>GTM Developer</span>
            </li>
            <li>
              NapTech Labs
              <span>ASO Specialist</span>
            </li>
            <li>
              VISER X
              <span>Sr. Executive</span>
            </li>
          </ul>
        </div>
        <!--end s-about__block -->

        <div class="grid-list-items__item s-about__block">
          <h4 class="s-about__block-title">Licenses & Certifications</h4>

          <ul class="s-about__list">
            <li>
              <a
                href="https://static.semrush.com/academy/certificates/535a153a59/shoaib-santo_2.pdf"
              >
                Semrush
                <span>SEO Crash Course by Semrush</span>
              </a>
            </li>
            <li>
              <a
                href="https://app.hubspot.com/academy/achievements/m9cydpzp/en/1/shoaib-santo/seo"
              >
                HubSpot
                <span>SEO Certification Course by HubSpot</span>
              </a>
            </li>
            <li>
              <a
                href="https://app.hubspot.com/academy/achievements/7lqv89d2/en/1/shoaib-santo/digital-marketing"
              >
                HubSpot
                <span>Digital Marketing Certification by HubSpot</span>
              </a>
            </li>
            <li>
              <a
                href="https://app.hubspot.com/academy/achievements/yhmc3x6k/en/1/shoaib-santo/digital-advertising"
              >
                HubSpot
                <span>Digital Advertising Certification by HubSpot</span>
              </a>
            </li>
          </ul>
        </div>
        <!--end s-about__block -->

        <div class="grid-list-items__item s-about__block">
          <h4 class="s-about__block-title">Skills</h4>

          <ul class="s-about__list">
            <li>SEO</li>
            <li>Social Media Marketing</li>
            <li>Search Engine Marketing</li>
            <li>Web Analytics</li>
          </ul>
        </div>
        <!--end s-about__block -->
      </div>
      <!-- grid-list-items -->
    </div>
    <!--end column -->
  </div>
  <!--end s-about__content -->
</section>
<!-- end s-about -->

<!-- # works
        ================================================== -->
<section id="works" class="s-works target-section">
  <div class="row">
    <div class="column xl-12">
      <div class="section-header" data-num="02">
        <h2 class="text-display-title">My Portfolio.</h2>
      </div>
      <!-- end section-header -->
    </div>
  </div>

  <div class="row folio-entries">
    <div class="column entry">
      <a
        href="{% static 'images/folio/gallery/ghoori-learning.jpeg' %}"
        class="entry__link glightbox"
        data-glightbox="title: White Knit Cap; description: .entry__desc-01"
      >
        <div class="entry__thumb">
          <img
            src="{% static 'images/folio/ghoori-learning.jpeg' %}"
            srcset="
              {% static 'images/folio/ghoori-learning.jpeg' %} 1x,
              {% static 'images/folio/ghoori-learning.jpg' %}  2x
            "
            alt="Ghoori Learning"
          />
        </div>
        <div class="entry__info">
          <h4 class="entry__title">Ghoori Learning</h4>
          <div class="entry__cat">
            As Sr. Executive at VISER X, led successful SEO project for Ghoori
            Learning. Ranked 1700 keywords, resulting in 19300 organic traffic.
          </div>
        </div>
      </a>

      <!--                     <div class="glightbox-desc entry__desc-01">
                        <p>
                        As Sr. Executive at VISER X, led successful SEO project for Ghoori Learning. Ranked 1700 keywords, resulting in 19300 organic traffic.
                        <a href="https://ghoorilearning.com/">Project Link</a>.
                        </p>
                    </div> -->
    </div>
    <!-- entry -->

    <div class="column entry">
      <a
        href="{% static 'images/folio/gallery/walton-group.jpeg' %}"
        class="entry__link glightbox"
        data-glightbox="title: WoodCraft; description: .entry__desc-02"
      >
        <div class="entry__thumb">
          <img
            src="{% static 'images/folio/walton-group.jpeg' %}"
            srcset="
              {% static 'images/folio/walton-group.jpeg' %} 1x,
              {% static 'images/folio/woodcraft@2x.jpg' %}  2x
            "
            alt="Walton Group"
          />
        </div>
        <div class="entry__info">
          <h4 class="entry__title">Walton Group</h4>
          <div class="entry__cat">
            As Project Manager at Khan IT, led impactful SEO campaign for Walton
            Hi-Tech Industries PLC. Achieved top rankings for 53600 keywords,
            driving substantial 847600 organic traffic.
          </div>
        </div>
      </a>

      <!--                     <div class="glightbox-desc entry__desc-02">
                        <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                        Inventore ipsum iste soluta fugiat, impedit illum ducimus 
                        deleniti facilis ab, tempora non! Nisi, tempora provident.
                        <a href="https://www.behance.net/">Project Link</a>.
                        </p>
                    </div> -->
    </div>
    <!-- entry -->

    <div class="column entry">
      <a
        href="{% static 'images/folio/gallery/hatil-furniture.jpeg' %}"
        class="entry__link glightbox"
        data-glightbox="title: Caffeine & Tulips; description: .entry__desc-03"
      >
        <div class="entry__thumb">
          <img
            src="images/folio/hatil-furniture.jpeg"
            srcset="
              {% static 'images/folio/hatil-furniture.jpeg' %} 1x,
              {% static 'images/folio/hatil-furniture.jpeg' %} 2x
            "
            alt="HATIL Furniture"
          />
        </div>
        <div class="entry__info">
          <h4 class="entry__title">HATIL Furniture</h4>
          <div class="entry__cat">
            As Project Manager at Khan IT, spearheaded SEO efforts for HATIL
            Furniture, achieving remarkable results. Secured top rankings for
            4800 keywords, driving impressive 68400 organic traffic.
          </div>
        </div>
      </a>

      <!--                     <div class="glightbox-desc entry__desc-03">
                        <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                        Inventore ipsum iste soluta fugiat, impedit illum ducimus 
                        deleniti facilis ab, tempora non! Nisi, tempora provident.
                        <a href="https://www.behance.net/">Project Link</a>.
                        </p>
                    </div> -->
    </div>
    <!-- entry -->

    <div class="column entry">
      <a
        href="{% static 'images/folio/gallery/pet-zone-bd.jpeg' %}"
        class="entry__link glightbox"
        data-glightbox="title: Grayscale; description: .entry__desc-04"
      >
        <div class="entry__thumb">
          <img
            src="images/folio/pet-zone-bd.jpeg"
            srcset="
              {% static 'images/folio/pet-zone-bd.jpeg' %} 1x,
              {% static 'images/folio/pet-zone-bd.jpeg' %} 2x
            "
            alt="Pet Zone BD"
          />
        </div>
        <div class="entry__info">
          <h4 class="entry__title">Pet Zone BD</h4>
          <div class="entry__cat">
            As Project Manager at Khan IT, led successful SEO project with Pet
            Zone BD. Achieved top rankings for 1800 keywords, driving 3100
            organic traffic.
          </div>
        </div>
      </a>

      <!--                     <div class="glightbox-desc entry__desc-04">
                        <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                        Inventore ipsum iste soluta fugiat, impedit illum ducimus 
                        deleniti facilis ab, tempora non! Nisi, tempora provident.
                        <a href="https://www.behance.net/">Project Link</a>.
                        </p>
                    </div> -->
    </div>
    <!-- entry -->
  </div>
  <!-- folio entries -->

  <div class="row s-testimonials">
    <div class="column xl-12">
      <h3 class="s-testimonials__header">My Happy Clients</h3>

      <div class="swiper-container s-testimonials__slider">
        <div class="swiper-wrapper">
          <div class="s-testimonials__slide swiper-slide">
            <div class="s-testimonials__author">
              <!-- <img src="images/avatars/user-02.jpg" alt="Author image" class="s-testimonials__avatar"> -->
              <cite class="s-testimonials__cite">
                <strong>Arif Ahmed</strong>
                <span>Mehboob Optics</span>
              </cite>
            </div>
            <p>
              Khan IT has done a splendid job on our website that has truly made
              our online store flourish. Thanks to the amazing work they have
              done through blogs and links Mehboob Optics is now ranking higher
              than ever on search engines. We have seen a lot of positive
              results thanks to the E-Commerce SEO strategies Khan IT has
              implemented.
            </p>
          </div>
          <!-- end s-testimonials__slide -->
        </div>
        <!-- end swiper-wrapper -->

        <div class="swiper-pagination"></div>
      </div>
      <!-- end swiper-container -->
    </div>
    <!-- end column -->
  </div>
  <!-- end s-testimonials -->
</section>
<!-- end s-works -->

<!-- # numbers
        ================================================== -->
<section id="numbers" class="s-numbers">
  <div class="row counter-items">
    <div class="column counter-items__item">
      <div class="num">
        120
        <span>+</span>
      </div>
      <h5>Happy Customers</h5>
      <p>
        Join over 120 satisfied clients who have boosted their online presence
        and achieved their marketing goals with my expert digital strategies.
      </p>
    </div>
    <!-- end counter-items__item -->

    <div class="column counter-items__item">
      <div class="num">
        150
        <span>+</span>
      </div>
      <h5>Projects Completed</h5>
      <p>
        Successfully completed more than 150 diverse projects, delivering
        customized SEO and marketing solutions that drive traffic and enhance
        business growth.
      </p>
    </div>
    <!-- end counter-items__item -->

    <div class="column counter-items__item">
      <div class="num">
        7+
        <span>+</span>
      </div>
      <h5>Years of Experience</h5>
      <p>
        With over seven years in digital marketing and SEO, I bring extensive
        knowledge and proven techniques to elevate your brand’s online
        performance.
      </p>
    </div>
    <!-- end counter-items__item -->

    <div class="column counter-items__item">
      <div class="num">
        85
        <span>+</span>
      </div>
      <h5>Positive Feedback</h5>
      <p>
        Receive exceptional service backed by 85+ positive reviews, reflecting
        my commitment to excellence and client satisfaction in every project
        undertaken.
      </p>
    </div>
    <!-- end counter-items__item -->
  </div>
  <!-- end counter-items -->
</section>
<!-- end s-numbers -->
{% endblock %}